@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
}

body{
    height: auto;
    width: auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgLogo{
    height: 180px;
    margin-bottom: 50px;
}

.viewLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 70px;
    padding: 20px;
}
.viewRegister{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    margin-top: 100px;
    padding: 20px;
}

.contRegist{
    display: flex;
}

.input{
    width: 250px;
    height: 37px;
    margin: 10px;
    padding: 5px;
    color:rgb(93, 92, 92);
    font-size: medium;
    text-align: center;
    border-radius: 10px;
    border: 1.3px solid rgb(167, 167, 167);
}
.input:focus {
    border-color: #F9965E;
    outline: 0;
}

.input::placeholder {
    color:rgb(197, 196, 196);
  }

.btn {
    width: 200px;
    height: 45px;
    color: white;
    margin: 5px;
    font-size:large;
    border-radius: 10px;
    align-items: center;
    background-color: #9697EF;
    border: white;
    padding-right: 10px;
}

.btn.registration {
    margin-top: 60px;
}

.btn.login {
    margin-top: 60px;
}

.btn:hover {
    background-color: #F9965E;
}

.btnBack{
    margin-top: 20px;
    color: rgb(127, 127, 127);
    border: white;
    background-color: white;
    font-size: medium;
    text-decoration: underline;

}

.btnGoogle{
    height: 45px;
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0px 10px 0px 3px;
    font-size: medium;
    color: rgb(93, 93, 93);
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.btnGoogle:before{
    content: '';
    width: 35px;
    height: 35px;
    display: flex;
    margin-right: 10px;
    background-image: url('../image/imgLogoGoogle.png');
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-color: white;
    background-size: 20px 20px;
    background-position: center center;
    
}

.btnGoogle:hover {
    background-color: #4285F4;
    color: #ffffff;
}

.btnRegister{
    color: #9697EF;
    border: white;
    background-color: white;
    font-size:large;
}

 p{
    text-align: center;
    color: rgb(83, 83, 83);
 }





