@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
}

body{
    height: auto;
    width: auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgLogo{
    height: 180px;
    margin-bottom: 70px;
}

.viewRegister{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    margin-top: 100px;
    padding: 20px;
}

.input{
    width: 250px;
    height: 37px;
    margin: 10px;
    padding: 5px;
    color:rgb(93, 92, 92);
    font-size: medium;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color:rgb(167, 167, 167);
}

.input::placeholder {
    color:rgb(197, 196, 196);
  }

.btn {
    width: 200px;
    height: 45px;
    color: white;
    margin: 5px;
    font-size:large;
    border-radius: 10px;
    align-items: center;
    background-color: #9697EF;
    border: white;
    padding-right: 10px;
}
.btn.registration {
    margin-top: 80px;
}
.btn:hover {
    background-color: #F9965E;
}
 p{
    text-align: center;
 }





