#contenedor-login {
    margin: auto; 
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 3rem;
    
}   
#correo-login, #contraseña-login {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* color: black; */

}

#logologin {    
     width:  clamp(6rem,15vw,20rem);
     height: clamp(15rem,12vw,20rem);
     margin-right: auto;
     margin-left: auto;
     display: block; 
     margin-top: 2px;
    
}  

#correo-login, #contraseña-login {
    width: clamp(20rem,40vw,50rem);
    height:clamp(3rem,4vw,10rem);
    margin-top: 10px; 
    border: 2px solid transparent;
    border-color: #143F6B;
    border-radius: 5px;
    display: block; 
    margin-right: auto;
    margin-left: auto;
    
}
#iniciarsesion-login {
    margin-right: auto;
    margin-left: auto;
    width: clamp(15rem,15vw,30rem);
    height: 40px;
    background-color: #FEB139;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    border-radius: 5px; 
    margin-top: 30px;
    display: block;  
}

 #registro-login {
        margin-right: auto;
        margin-left: auto;
        width: clamp(15rem,15vw,30rem);
        height: 40px;
        background-color: #F55353;
        font-size: 25px;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid transparent;
        border-radius: 5px; 
        margin-top: 20px;
        display: block; 
 }
 #Google {
    margin-right: auto;
    margin-left: auto;
    width: clamp(9rem,7vw,15rem);
    height: 30px;
    margin-top: 2rem;
    background-repeat: no-repeat;
	background-size: cover;
    background-image: url(./Imagenes/EnlaceG.png);
    border: 1px solid transparent;   
    border-radius: 5px;
    display: block;
 }
