#root {
    display: flex;
}

#header-muro {
    background-color: #FEB139;
    width: clamp(20rem,100vw,100rem);
    height: clamp(7rem,1vw,40rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#muro-logo {
    max-width: 246px;
    margin-left: 10px;
    width: clamp(8rem, 44vw, 14rem);
    height: clamp(4rem, 22vw, 7rem);
}

#salir {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    border-radius: 5px;
    width: clamp(8rem, 9vw, 9rem);
    height: clamp(2rem, 2vw, 2rem);
    background-color: #143F6B;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-right: 30px;     
}

#contenedor-muro {
    width: clamp(20rem,100vw,100rem);    
    }

#texto-publicar {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around 
}

#crearPublicacion {
    border-radius: 9px;
    width: clamp(20rem,80vw,90rem);
    height: clamp(7rem,1vw,40rem);
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 16px;
    border-color: #143F6B;
    Border-width: 4px;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;    
    display: block;
}

#creacionPublicar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    border-radius: 5px;
    width: clamp(20rem, 80vw, 90rem);
    height: clamp(3rem, 3vw, 7rem);
    background-color: #F55353;
    margin-top: 1rem;
    font-size: 25px;
    color: white; 
    margin-right: auto;
    margin-left: auto;    
    display: block;
}

.input {
    border-radius: 9px;
    width: clamp(20rem,80vw,90rem);
    height: clamp(7rem,1vw,40rem);
    background-color: #E0E0E0;
    padding-left: 2px 2px 2px 2px;
    margin-top: 60px;    
    font-size: 16px;
    border-color: #143F6B;
    Border-width: 3px;
    margin-right: auto;
    margin-left: auto;    
    display: block;
    max-width

}

#footer {
    background-color: #143F6B;
    height: 95px;
    width: 100%;
}

#texto-publicar {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

#pubRecientes {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-left: 50px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around 
}

#comentario {
    display: flex;
    height: 1200px;
    margin-top: 0%;
    flex-direction: column;
    display: flex;

} 

.elementosPost{
    background-color: antiquewhite;
    align-content: flex-end;
    height: 200px;
    margin-right: auto;
    margin-left: auto; 
       }  

#pubRecientes{
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.btn-Borrar,
.btn-Editar,
.btn-Guardar,
.btn-Like {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    border-radius: 5px;
    /* width: clamp(7rem, 10vw, 15rem);
    height: clamp(2rem, 3vw, 7rem); */
    width: 100px;
    height: 30px;
    background-color: #143F6B;
    font-size: 20px;
    padding: 2px 2px 2px 4px;
    color: white;
    text-align: center;
    margin-top: 1rem;
    flex-grow: 0.5;    
    margin-right: auto;
    margin-left: auto;  
}

.contador-Like {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #F55353;
    padding: 2px 15px 2px 15px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;  
}


#footer {
    background-color: #143F6B;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    position: absolute;
    width: 100%;
    height: 40px;

}