body {
    background-color: #CDF0EA;
}

input {
    background-color: #FBF6F0;
    border: solid 2px #65C7C7;
    width: 100%;
    height: 10%;
}

button {
    background-color: #65C7C7;
    border: solid 2px #FBF6F0;
}

.btnGoogle img {
    height: 30px;
    width: 30px;
}

a {
    color: #007878;
}