body {
    background-color: #CDF0EA;
}

input {
    background-color: #FBF6F0;
    border: solid 2px #65C7C7;
    width: 90%;
    height: 45%;
    margin: 5%;
    border-radius: 15px;
}

button {
    background-color: #65C7C7;
    border: solid 2px #FBF6F0;
    height: 9vh;
    margin: 5%;
    border-radius: 15px;
}
.btnSignUp {
    width: 60%;
    margin: 0 20%;
}

.btnGoogle {
    width: 90%;
}

.btnGoogle img {
    height: 30px;
    width: 30px;
}

a {
    color: #007878;
}

.form-container-signUp {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

form {
    display: grid;
    grid-template-columns: auto;
    height: 80vh;
    width: 100vw;
}

img {
    width: 80%;
    margin: 0 10%;
}

hr {
    width: 100px;
    height: 1px;
    color: #007878;
    margin: 0%;
}