*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
:root {
	--alto--campoTexto: 35px ;
	--ancho-campos-texto: 60%;
	--border-campos-texto-botones:15px;
	--ancho-botones:40%;
	--alto-botones:35px;
	--tamaño-letra:15px;
	--color-boton: blue;
	--color-letra-boton: white;
}

body {
	display: flex;
	align-items: center;
	padding: 10%;
	justify-content: center;
}

section {
	display: flex;
	align-items: center;
}

figure {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 0%;
}

.imagenDescripcion {
	text-align: center;
}
.imgLogo{
	height: 200px;
    width: 200px;
}
#registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30p;
    height: auto;
}
.texField{
	margin: 10px;
    height: var(--alto--campoTexto);
    width: var(--ancho-campos-texto);
    border-radius: var(--border-campos-texto-botones);
    text-align: center;
	font-size: var(--tamaño-letra);

}
#mailInSuso{
	font-size: 15px;
    background: aliceblue;
    color: red;
    width: 55%;
    text-align: center;
    margin-top: 0px;
}
.youAreMember{
    margin-top: 20px;
    font-size: 15px;
	background-color: rgba(37, 37, 184, 0.45);
	color: white;
}
.button{
	height: var(--alto-botones);
    width: var(--ancho-botones);
    border-radius: var(--border-campos-texto-botones);
	font-size: var(--tamaño-letra);
	background-color:var(--color-boton);
	color: var(--color-letra-boton);

}
hr{
	margin: auto;
	width: 20%;
	height: 3px;
	background-color:white;
}
.div{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

}

figcaption {
	display: flex;
	margin: 3%;
}

.containerDatos {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-bottom: 50px;
	align-items: center;

}

.camapoTexto {
	height: 35px;
	width: 100%;
	border-radius: 15px;
	margin: 3%;

}

.container {

	background: url(https://w0.peakpx.com/wallpaper/800/474/HD-wallpaper-colorfull-colors-green-blue-blur-amoled-neon-cool-yellow-gradient.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.registerText{
	margin-top: 20px;
    font-size: 20px;
	background-color: rgba(37, 37, 184, 0.45);
	color: white;
   
}
.buttonStar{
	height: var(--alto-botones);
    width: var(--ancho-botones);
    border-radius: var(--border-campos-texto-botones);
	font-size: var(--tamaño-letra);
	background-color: var(--color-boton);
	color: var(--color-letra-boton);

}
.startWithGoogle{
 margin-left: 5px;
}
.googleLogin{
	height: var(--alto--campoTexto);
    width: var(--ancho-campos-texto);
    border-radius: var(--border-campos-texto-botones);
    display: flex;
    align-items: center;
    justify-content: center; 
	
}
.imgGoogle{
	height: 30px;
    width: 30px;
	
}


@media only screen and (min-width:768px) and (max-width:900px){
	body {
		overflow-y:hidden!important;
	}
	
	:root {
		--alto--campoTexto: 36px ;
		--ancho-campos-texto: 40%;
		--border-campos-texto-botones:20px;
		--ancho-botones:20%;
		--alto-botones: 36px;
		--tamaño-letra:15px;
	}
	.imgLogo{
		height: 225px;
		width: 225px;
	}

	.texField{
		height: var(--alto--campoTexto);
		width: var(--ancho-campos-texto);
		border-radius: var(--border-campos-texto-botones);
		font-size:var(--tamaño-letra);
	}
	#mailInSuso{
		width: 35%;
		font-size: 13px;
	}
    .button{
		height: var(--alto-botones);
		width: var(	--ancho-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size: var(--tamaño-letra);
		background-color: var(--color-boton);
		color: var(--color-letra-boton);
		}
	.buttonStar{
		height: var(--alto-botones);
		width: var(--ancho-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size: var(--tamaño-letra);
		background-color: var(--color-boton);
		color: var(--color-letra-boton);
	
	}
	.imgGoogle{
		height: 30px;
		width: 40px;
	}

}

.inicioGogle {
	height: auto;

	:root {
		--alto--campoTexto: 40px ;
		--ancho-campos-texto: 30%;
		--ancho-botones:20%;
		--alto-botones:40px;
		--border-campos-texto-botones:30px;
		--tamaño-letra:15px;
	}

.registrarse {

	height: auto;
	text-align: center
}

a {
	text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.container{
		display: flex;
	}
	.imgLogo{
		height: 235px;
		width: 235px;
	}
	.texField{
		height: var(--alto--campoTexto);
		width: var(--ancho-campos-texto);
		border-radius: var(--border-campos-texto-botones);
		font-size:var(--tamaño-letra);
	}
	#mailInSuso{
		width: 28%;
	}
    .button{
		height: var(--alto-botones);
		width: var(--ancho-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size: var(--tamaño-letra);
		background-color: var(--color-boton);
		color: var(--color-letra-boton);
		
	}
	.imginInisioSesion {
		width: 500px;
		height: 500px;
		
	}

	.buttonStar{
		height: var(--alto-botones);
		width: var(--ancho-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size: var(--tamaño-letra);
		background-color: var(--color-boton);
		color: var(--color-letra-boton);
	}
	.buttonIniciar {
		width: 35%;
		height: 30px;
		font-size: 12px;
	}
    .inicioGogle{
		font-size: 16px;
	}
	.googleLogin{
		height: var(--alto--campoTexto);
		width: var(--ancho-campos-texto);
		border-radius: var(--border-campos-texto-botones);
		background-color: aliceblue;
	
	.imagenDescripcion {
		font-size: 50px;
		
	}
	.imginInisioSesion {
		width: 700px;
		height: 700px;
		
	}
	.camapoTexto{
		height: 35px;
		width: 70%;
		
        font-size: 15px;
		border-radius: 20px

	}
	.buttonIniciar {
		width: 40%;
		height: 30px;
		font-size: 15px;
		border-radius: 10px;
	}
    .inicioGogle{
		font-size: 17px;
		
	}
	.registrarse {
		font-size: 18px;
		
	}

}



