*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}

:root {
    --fontFamily: 'Exo 2', sans-serif;
    --titleSize: 1.5rem;
}
.container {
    display: flex;
    position: absolute;
    padding: auto;
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position: center;
    background-image: url("img/Fondo2.PNG");
    font-family: var(--fontFamily);
    flex-direction: column;
    text-align: center;
    align-content: center;
}
