* {
    box-sizing: border-box;
    background-color: #F2F2F2;
    font-family: 'Cairo', sans-serif;
}
body{
    display: flex;
  }

#containerLogo{
  background-color: aqua;
  position:fixed /*rompa la estructura de alinacion*/
}
#containerinit{

    margin-left: 120%;
    align-items: flex-start;
    display:flex;
    flex-wrap: wrap;
    width: 25%;
  }